/* Add this to your CSS file */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .animate-slide {
    animation: slide 15s linear infinite;
    display: flex;
    min-width: 200%; /* Adjust width based on content */
  }
  